@model IEnumerable<LibraryMVC.Models.BookView>
@{
    ViewData["Title"] = "Главная";
}

<h1>Главная</h1>

<p>
    <a asp-action="Create">Добавить новую запись</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Автор
            </th>
            <th>
                Название
            </th>
            <th>
                Год издания
            </th>
            <th>
                Описание
            </th>
            <th>
               Оглавление
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                    @foreach (var p in item.TableContents)
                    {
                     <p>@p</p>   
                    }
                    <form asp-action="EditTableContents">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="@item.Id" name="id"/>
                        <div class="form-group">
                            <label asp-for="@item.TableContentsXML.OuterXml" class="control-label">Оглавление</label>
                            <input asp-for="@item.TableContentsXML.OuterXml" name="tableContents" class="form-control" />
                            <span asp-validation-for="@item.TableContentsXML.OuterXml class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Сохранить" class="btn btn-primary" />
                        </div>
                    </form>
            </td>
            <td>
                    <div class="d-flex flex-column bd-highlight mb-3">
                        <div>
                            <a asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                        </div>
                      <div>
                            <a asp-action="Details" asp-route-id="@item.Id">Детали</a>
                      </div>
                       <div>
                            <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                       </div>
                       
                </div>
            </td>
        </tr>
}
    </tbody>
</table>
